<div class="text-center" id="blog_index">
	<h1 class="page-title text-capitalize text-primary" id="home_title">Publish your own blog in seconds</h1>

	<% if !user_signed_in? %>
		<p><%= link_to "Start Now", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-success' %></p>
	<% end %>

	<hr width="50%">

  <% @blogs.each do |blog| %>
	  <h3 class="page-title text-capitalize">Blog: <%= link_to blog.name, blog %></h3>
	  <h4 class="text-capitalize"><em>by:</em> <%= blog.user.name %></h4>
	  <h5 class="muted-text">
	  	<em><%= blog.created_at.strftime('%A: %B %d, %Y') %></em>
	  </h5>
	  <% if blog.user == current_user %>
		  <span>
		  	<%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-success" %> 
		  </span>

		  <span>
		  	<%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
		  </span>
		<% end %>
		<hr width="40%">
	<% end %>	

	<%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
</div>