<div class="row" id="blog_show">
	<h1 class="page-title text-capitalize text-primary"><%= @blog.name %></h1>
  <h5 class="text-muted">
  	<em>Created on: <%= @blog.created_at.strftime('%B %d, %Y') %></em>
  <h5 class="text-muted text-capitalize"><em>by:</em> <%= @blog.user.name %></h5>
  <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
  </h5>
	<hr>
</div>

<div id="blog_post">
	<% @blog_posts.each do |blog_post| %>		
		<div class="row">
			<div class="jumbotron">
			  <span>
			  	<h6 class="muted_text pull-right">
			  		<em>Last Updated: <%= time_ago_in_words blog_post.updated_at %> ago</em>
			  	</h6>
			  </span>
			  	<h3 class="text-capitalize"><%= link_to blog_post.title, blog_post %></h3>
			  <p><%= truncate blog_post.content, length: 200 %></p>
			  <p><%= link_to "Read More", blog_post, class: "btn btn-primary" %></p>
			</div>
		</div>
	<% end %>
</div>