<div class="row">
	<h1 class="text-primary text-capitalize"><%= current_user.name %>'s Blog</h1>
	<hr>
	<%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
	<p class="pull-right">Dont like <a href="#" id="change_blue" class="btn btn-primary">blue?</a> Switch to <a href="#" id="change_green" class="btn btn-success">Green!</a></p>
</div>
<br>
<div id="post_index">
	<% @posts.each do |post| %>		
		<% if post.blog.user == current_user %>
			<div class="row">
				<div class="jumbotron">
				  <span>
				  	<h6 class="muted_text pull-right">
				  		<em>Last Updated: <%= post.updated_at.strftime('%B %d, %Y') %></em>
				  	</h6>
				  </span>
				  	<h3 class="text-capitalize"><%= link_to post.title, post %></h3>
				  <p><%= truncate post.content, length: 200 %></p>
				  <p><%= link_to "Show", post, class: "btn btn-primary" %>
				  	<%= link_to 'Edit', edit_post_path(post), class: "btn btn-success pull-right" %> 
				  	<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right", id: "delete_btn" %>
				  </p>
				</div>
			</div>
		<% end -%>
	<% end %>

	<div class="text-center">
		<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
	</div>
</div>