<div id="post_show">
	<h1 class="page-title text-center text-capitalize text-primary">
	  <%= @post.title %>
	</h1>
	<h6 class="text-muted text-center"><em>Last Updated: <%= @post.updated_at.strftime('%B %d, %Y') %></em></h6>
	<h5 class="text-muted text-capitalize text-center"><em>by:</em> <%= @post.blog.user.name %></h5>
	<hr>

	<p><%= markdown(@post.content) %></p>

	<hr>
	<div class="pull-right">
		<% if @post.blog.user == current_user %>
			<span><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-success" %></span>
			<span><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></span>
		<% end %>
	</div>

	<%= link_to "Back", @post.blog, class: "btn btn-primary" %>

	<hr>

	<div id="disqus">
		<%= render 'disqus' %>
	</div>
</div>