<!DOCTYPE html>
<html>
<head>
  <title>BlogExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
</head>
<body>
	<%= render "shared/login_modal" %>
	<%= render "shared/sign_up_modal" %>
	<%= render "shared/edit_devise" %>

	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand text-capitalize" href="/">blog</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:controller] == 'blogs' %>"><a href="/">Home</a></li>
          <% if user_signed_in? %>
	          <li class="<%= 'active' if params[:controller] == 'posts' %>"><%= link_to "My Blog", posts_path %></li>
	        <% end -%>
        </ul>

        <p class="navbar-text pull-right">
        	<% if user_signed_in? %>
        	  Logged in as <strong class="text-capitalize"><%= current_user.name %></strong> -
        	  <%= link_to "Edit Profile", "#edit", "data-toggle" => "modal", :class => 'navbar-link' %> |
        	  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        	<% else %>
        	  <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'navbar-link' %> |
        	  <%= link_to "Login", "#login", "data-toggle" => "modal", :class => 'navbar-link' %>
        	<% end %>
        </p>
      </div>
    </div>
  </nav>

		<div class="container">

		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		<%= yield %>

		<footer class="footer navbar-fixed-bottom">
			<div class="container">
		      <p class="muted-text">&copy; 2016 Ahmad Atiyah</p>
			</div>
    </footer>
	</div>
</body>
</html>
